.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}
.active {
  transform: scale(1);
}
.content{
padding: 20px;
border-radius: 12px;
background-color: white;
height: 400px;
width: 700px;
}

  

  
  .left {
    width: 304px;
    height: 370px;


    background: url(./images/pop.jpg) no-repeat center/contain;
  }

  .right {
    color: black;

 justify-content: flex-end;
    font-weight: 700;
  font-size: 42px;
  line-height: 51px;








  }